@charset "ISO-8859-1";

.w-10{
	width: 10%;
}

.btn-custom{
	cursor: ponter;
	text-decoration: none;
	background-color: rgba(255,51,56,1.00) !important;
	color: white !important;
    transition: 300ms;
}

.btn-custom-round{
	cursor: ponter;
	text-decoration: none;
	background-color: rgba(255,51,56,1.00) !important;
	color: white !important;
	border-radius: 20px !important;
    transition: 300ms;
}

.btn-custom:hover,
.btn-custom-round:hover{
	background-color: #da2e1b !important;
}

.cursor-pointer{
	cursor: pointer;
}

.hide{
	display: none;
}