body{
	height: 1000px
}

.nav-link{
	transition: 300ms;
}

.nav-link:hover{
	color: #e74c3c !important;
}

.login{
	border-radius: 30px;
	background-color: #e74c3c;
	color: white !important;
	height: 30px;
    width: 100px;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
    transition: 300ms;
}

.login:hover{
	background-color: #da2e1b;
}