.nav-link{
	transition: 300ms;
}

.nav-link:hover{
	color: #e74c3c !important;
}

.main-link{
	font-size: 18px;
	margin-left: 3px;
}

.navbar-brand{
	font-size: 1.5rem !important;
	font-weight: 500 !important;
}

.sign-up{
	border-radius: 30px;
	background-color: #e74c3c;
	color: white !important;
	height: 30px;
    width: 100px;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
    transition: 300ms;
}

.sign-up:hover{
	background-color: #da2e1b;
}

.login{
	border-radius: 30px;
	border: 1px solid #e74c3c;
	height: 30px;
    width: 100px;
    padding-top: 2px;
    text-align: center;
    display: inline-block;
}

.search-bar{
	width: 50% !important;
	margin-left: auto;
}

.search-bar span{
	background-color: #e74c3c !important;
    border: solid #e74c3c;
}

@media (max-width: 990px) {
	.search-bar{
		margin-left: 0;
		margin-top: 10px;
		margin-bottom:10px;
	}
}

.icon-nav-item{
	display: flex !important;
    align-items: center;
    margin-right: 10px;
}
.icon-nav-item-text{
	font-size: 17px;
    font-weight: 600;
    align-self: end;
}
.icon-30{
	font-size: 30px !important;
	margin-right: 3px;
}

.icon-22{
	font-size: 22px !important;
    vertical-align: bottom;
}

.custom-badge{
	position: absolute;
    top: 0;
    transform: translate(14px, 3px);
    border-radius: 50px;
    color: white;
    background-color: #e74c3c;
    font-size: 12px;
    width: 19px;
    text-align: center;
    transition: 300ms;
}

.search-result-item{
	transition: 300ms;
}

.search-result-item:hover{
	background-color: #e74c3c;
	color: white;
}