<footer class="mt-auto bg-dark text-light">
   <ul class="nav justify-content-center border-bottom pb-3 mb-3">
     <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Home</a></li>
     <li class="nav-item"><a href="#" class="nav-link px-2 text-light">About</a></li>
     <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Shop</a></li>
     <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Contact Us</a></li>
   </ul>
   <p class="text-center text-muted">© 2023 REAGAIL, Inc</p>
</footer>