<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="Home"> REAGAIL </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link active main-link"
					aria-current="page" href="Home">Home</a></li>
				<li class="nav-item"><a class="nav-link active main-link"
					href="#">About</a></li>
				<li class="nav-item"><a class="nav-link active main-link"
					href="Catalog">Shop</a></li>
			</ul>
			<div class="input-group search-bar">
				<input type="text" class="form-control" type="search"
					placeholder="Search" aria-label="Search"> <span
					class="input-group-text material-symbols-outlined text-light">search</span>
			</div>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link active" href="Login"><span
						class="login">Login</span></a></li>
				<li class="nav-item"><a class="nav-link active" href="Register"><span
						class="sign-up">Sign Up</span></a></li>
			</ul>
		</div>
	</div>
</nav>